* {
  box-sizing: border-box;
}

body {
  background-color: rgb(5, 5, 5);
  margin: 0;
  padding: 0;
  color: #fff;
}

a {
  all: unset;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 8% 0px 3%;
}

.nav_links {
  list-style: none;
  cursor: pointer;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  font-weight: bold;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: 0.2s;
}
.nav_links li:hover {
  color: #7fffd4;
  scale: 1.2;
}

@keyframes slide-in-top {
  0% {
    transform: translateZ(-1400px) translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
.txt-yb {
  font-size: 4rem;
  font-weight: bold;
  color: gold;
}

.slide-r {
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 3s;
}

@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
.txt-y {
  font-size: 3rem;
  color: gold;
}

.txt-r {
  font-size: 3rem;
  color: red;
}

.txt-rb {
  font-size: 4rem;
  color: red;
  font-weight: bold;
}

.intro {
  font-size: 2rem;
  padding: 100px 40px;
}

.df-c {
  display: flex;
  align-items: center;
  height: 4rem;
}

.df-e {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.removetxt {
  animation: scale-out-ver-bottom 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation-delay: 3s;
}

@keyframes scale-out-ver-bottom {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    transform-origin: 0% 100%;
    opacity: 1;
    font-size: 1rem;
  }
}
.svtop1 {
  margin: 0;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 4s;
}

.svtop2 {
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 5s;
}

.svtop3 {
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 6s;
}

@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
.row {
  display: flex;
  align-items: center;
}
.row::after {
  display: block;
  clear: both;
  content: "";
}

.col-1 {
  width: 8.33%;
}

.col-10p {
  width: 10%;
}

.col-2 {
  width: 16.66%;
}

.col-20p {
  width: 20%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.logo {
  width: 125px;
}

.vh100 {
  height: 100vh;
}
.vh100::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #454646;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-clip-path: polygon(100% 20%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 20%, 0% 100%, 100% 100%);
}

.text1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 58px 0px;
  padding-left: 35px;
  margin: 20px;
}

.pt-40 {
  padding-top: 60px;
}

.contact1 {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.contact1 a {
  transition: 0.2s;
}
.contact1 a:hover {
  color: #7fffd4;
  scale: 1.2;
}

.dcenter {
  display: flex;
  justify-content: center;
}

.r3d {
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  flex-direction: column;
  font-size: xxx-large;
  flex-wrap: nowrap;
  font-weight: 900;
  align-items: center;
  padding: 20px;
}

.txt-center {
  text-align: center;
}

.left-in {
  animation: slide-in-fwd-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-fwd-left {
  0% {
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
.menuBar {
  background-color: #454646;
  width: 45px;
  height: 45px;
  border-radius: 4px;
  cursor: pointer;
}
.menuBar:hover {
  color: #7fffd4;
}

.UInav_links {
  list-style: none;
  display: block;
  position: fixed;
  right: 0;
  width: 50%;
  background-color: #0e0e0e;
  height: 100%;
  margin: 0;
  z-index: 1;
  box-shadow: -1px 0px 7px black;
  padding: 0;
  top: 0;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.UInav_links li.brd-b {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid;
  -o-border-image: linear-gradient(88deg, rgb(14, 14, 14) 0%, rgb(255, 255, 255) 50%, rgb(14, 14, 14) 100%);
     border-image: linear-gradient(88deg, rgb(14, 14, 14) 0%, rgb(255, 255, 255) 50%, rgb(14, 14, 14) 100%);
  border-image-slice: 1;
}
.UInav_links li.brd-b:hover {
  background-color: #282828;
}
.UInav_links li.brd-b a {
  width: 100%;
  display: block;
  padding: 10px;
}

.p-10 {
  padding: 10px;
}

.Ui_services {
  list-style: none;
  padding: 10px 0 0 0;
  animation: scale-in-ver-top 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.Ui_services li {
  border-top: 1px solid #fff;
  cursor: pointer;
  width: 100%;
}
.Ui_services li:hover {
  background-color: rgb(29, 29, 29);
}

.UInav_links, .Ui_services, .menuBar {
  display: none;
}

.dflex {
  display: flex;
}

.to-top {
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  opacity: 0;
  pointer-events: none;
  background-color: dimgrey;
  border-radius: 50%;
  color: #fff;
  transition: all 0.4s;
}

.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

button {
  all: unset;
  cursor: pointer;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
.dnone {
  display: none;
}

@media (max-width: 1000px) {
  .contact1 {
    width: 75%;
  }
  .txt-yb, .txt-rb {
    font-size: 3.7rem;
  }
  .txt-y, .txt-r {
    font-size: 2.7rem;
  }
}
@media (max-width: 800px) {
  .text1 {
    font-size: 2.5rem;
  }
  .txt-yb, .txt-rb {
    font-size: 3.5rem;
  }
  .txt-y, .txt-r {
    font-size: 2.5rem;
  }
  .intro {
    font-size: 1.7rem;
  }
}
@media (min-width: 700px) {
  .menuBar {
    display: none;
  }
}
@media (max-width: 700px) {
  .txt-yb, .txt-rb {
    font-size: 3rem;
  }
  .txt-y, .txt-r {
    font-size: 2rem;
  }
  .intro {
    font-size: 1.5rem;
  }
  .pt-40 {
    padding-top: 20px;
  }
  .text1 {
    font-size: 2rem;
  }
  .contact1 {
    width: 100%;
  }
  .nav_links {
    display: none;
  }
  .menuBar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header {
    padding: 0;
  }
  header img, header .menuBar {
    margin: 15px;
  }
}
@media (max-width: 550px) {
  .intro {
    padding: 100px 30px;
  }
  .txt-yb, .txt-rb {
    font-size: 2.5rem;
  }
  .txt-y, .txt-r {
    font-size: 2rem;
  }
  .intro {
    font-size: 1.3rem;
  }
  .row1 {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .row1 .col-7, .row1 .col-5 {
    width: 100%;
  }
  .text1 {
    padding: 30px 0 0 0;
  }
  .r3d {
    font-size: xx-large;
    padding: 0;
  }
  .r3d img {
    width: 180px;
  }
}
@media (max-width: 450px) {
  .UInav_links {
    width: 100%;
  }
  .txt-yb, .txt-rb {
    font-size: 2rem;
  }
  .txt-y, .txt-r {
    font-size: 1.5rem;
  }
  .intro {
    font-size: 1rem;
    padding: 100px 20px;
  }
}/*# sourceMappingURL=headSection.css.map */